<div class="newIngredient"><hr />
amount:<input type="text" name="value" /> | 
unit of measure:<input type="text" name="unit" /> | 
ingredient:<input type="text" name="ingredient" />
<a href="javascript:void(0);" class="removeIngredient">delete ingredient</a>
<hr /></div>
