<h1><%= title %></h1>
<br />
<form action="/create" method="post" accept charset="utf-8">
	Recipe Name:<input type="text" name="fn" /><br />
	Instructions:<input type="text" name="instructions" /><br />
	Yield:<input type="text" name="yield" /><br />
	Duration:<input type="text" name="duration" /><br />
	photo: <!--upload image here>add photo</upload><add image location></add image location-->
	video: <!--upload video here>add photo</upload><add video location></add video location-->
	summary:<input type="text" name="summary" /><br />
	published:<input type="text" name="published" /><br />
	tag:<input type="text" name="tag" /><br />
	rating:<input type="text" name="rating" /><br />
	<input type="submit" name="submit" value="Go" />
</form>
